#backups_list {
  background-color: var(--grey_medium);
  border-radius: 1rem;
  animation: extend 0.4s ease;
  transform-origin: top;

  order: 2;
  grid-column: 1 / -1;
  border:0;
  width: calc(100% - 2rem);
  height: 50vh;
  padding: 0.5rem;
}

@keyframes extend {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.help {
  order: 5;
  font-size: 14px;
  color: var(--grey_container);
}