#map_link {
  border-radius: 1rem;
  background-color: green;
  background: linear-gradient(0deg, rgba(200, 200, 200, 0.2), rgba(200, 200, 200, 0.2)), url(../../images/map_link.png);
  background-size: cover;

  order: 3;
  grid-column: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

#map_link>div {
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: var(--grey_dark);
  color: var(--grey_white);
  font-size: 0.8rem;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

#map_link>div>p {
  margin: 1rem;
  margin-bottom: 2rem;
}

#map_link>div>a.button {
  display: block;
  text-align: center;
  color: black;
  fill: black;
}

#map_link>div>a.button:hover {
  color: white;
  fill: white;
  background-color: black;
}

@media only screen and (max-width: 1210px) {
  #map_link>div>a.button > svg {
    display: none;
  }
}

@media only screen and (max-width: 770px) {
  #map_link>div>a.button > svg {
    display: inline-block;
  }
}
