#member_list {
  background-color: var(--grey_container);
  border-radius: 1rem;
    width: 30rem;
}

#member_list > table {
  border-collapse: collapse;
      width: 30rem;
}

#member_list > table > tbody > tr {
  border-bottom: 0.2rem solid var(--grey_light);
}

#member_list > table > tbody > tr:last-child {
  border-bottom: none;
}

td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

td:first-child {
  padding-left: 0.5rem;
  padding-right: 0;
}

img.player_avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 0.2rem;
}

div.name_and_badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

div.badge {
  border-radius: 0.8rem;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2rem;
  height: 1rem;
  padding: 0.2rem 0.5rem 0rem 0.5rem;
  margin: 0.2rem;
  margin-top: 0;
  font-weight: var(--font_weight_thin)
}

.grey {
  background-color: #9D9D9D;
}

.purple {
  background-color: #4E3BF4;
}

.green {
  background-color: #14843F;
}

.orange {
  background-color: #8E4F10;
}

h4 {
  margin: 0.2rem;
  font-weight: var(--font_weight_medium);
}

.status {
  font-size: 0.8rem;
}

.status > .status_dot {
  font-size: 1.5rem;
  margin: 0.2rem 0.5rem 0 0.5rem;
}

.ingame {
  color: #FFF146;
  animation-name: orange_yellow_pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.badges {
  display: flex;
flex-direction: row;
}

@keyframes orange_yellow_pulse {
  0% {
    color: #FFF146;
  }
  50% {
    color: #FF8D46;
  }
  100 {
    color: #FFF146;
  }
}

.offline {
  color: #5A5A5A;
}

.join_date {
  font-size: 0.7rem;
  margin-left: 0.5rem;
  font-weight: var(--font_weight_thin);
}

span.small {
  font-size: 0.55rem;
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  #member_list, #member_list > table {
    width: 100%;
  }

  div.name_and_badge {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
  }

  div.badge {
  border-radius: 0.8rem;
  font-size: 0.6rem;
  line-height: 1.2rem;
  height: 0.7rem;
  padding: 0.2rem 0.3rem 0rem 0.3rem;
  margin: 0.2rem;
  margin-top: 0;
  }

  td {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.2rem;
}

td:first-child {
  padding-left: 0.5rem;
  padding-right: 0;
}
}

@media only screen and (max-width: 400px) and (orientation: portrait) {
  h4 {
    margin: 0.1rem;
    font-size: 0.8rem;
  }


  .join_date {
    display: none;
  }
}
