#slideshow {
  order: 3;
  grid-column: 1;
}

#slideshow > svg {
  stroke: white;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 1rem;
  height: 2rem;
  filter: drop-shadow( 0 0 1rem rgba(0, 0, 0, 0.9));
  position: relative;
  z-index: 10;
  cursor: pointer;
  top: -9rem;

  display: none;
}

.prev {
  margin-left: 1rem;
}

.next {
  margin-left: 85%;
  transform: rotate(180deg);
}

#carousel {
  border-radius: 1rem;
  height: calc((100vw - 2rem) * 0.5625);
}

#carousel > div {
  height: inherit;
}

#carousel > div > div {
  height: inherit;
}


#carousel > div > div > div {
  height: inherit;
}

#carousel > div > div > div > img {
  width: 100%;
  height: inherit;
}

@media (min-width: 770px) {
  #carousel {
    height: 100%;
  }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  #slideshow > svg {
    top: -30vw;
  }

  .next {
  margin-left: 80%;
  }
}
