#title {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 4rem;
}


#title > * {
  text-align: center;
  margin: 1rem;
}

h1 {
  font-weight: var(--font_weight_medium);
  font-size: 4rem;
}

.bold {
  font-weight: var(--font_weight_bold);
}

#title > p {
  font-size: 1rem;
}

@media only screen and (max-width: 760px) {
  #title {
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: 3rem;
  }

  h1 {
  font-size: 3rem;
  }

  #top {
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 490px) and (orientation: portrait) {
  #title {
    margin-top: 1.5rem;
  }
  h1 {
    font-size: 2rem;
  }
}
