div#navigation {
  display: flex;
  justify-content: flex-end;
}

a.button {
  font-size: 1.25rem;
  color: inherit;
  border: none;
  border-radius: 0.4rem;
  padding: 0.6rem 1rem 0.4rem 1rem;
  margin: 1rem;
  transition-property: color, fill, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

a.button>svg {
  width: 1.25rem;
  height: 1.25rem;
  display: inline;
  vertical-align: top;
  margin-left: 0.7rem;
  margin-top: 0rem;
}

a.button.github {
  fill: white;
  color: white;
  background-color: #24292e;
}

a.button.github:hover {
  fill: white;
  color: white;
  background-color: black;
}

a.button.map {
  fill: var(--purple_light);
  color: var(--purple_light);
  background-color: white;
}

a.button.map>svg, a.button.backups>svg {
  transform: scale(1.2, 1.2) translateY(-0.05rem);
}

a.button.map:hover {
  fill: white;
  color: white;
  background-color: var(--purple_dark);
}

a.button.backups {
  fill: white;
  color: white;
  background-color: var(--blue_light);
}

a.button.backups:hover {
  fill: white;
  color: white;
  background-color: var(--blue_dark);
}

@media only screen and (max-width: 860px) and (orientation: portrait) {
  a.button.backups {
    display: none;
  }
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
  a.button.github, a.button.map {
    font-size: 1.5rem;
  }

  a.button>svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.7rem;
    margin-top: -0.1rem;
  }

  a.button.map>svg {
    transform: scale(1.2, 1.2) translateY(0.1rem);
  }
}

@media only screen and (max-width: 420px) and (orientation: portrait) {
  a.button.github, a.button.map {
    font-size: 1.2rem;
  }

  a.button>svg {
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 0.7rem;
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 380px) and (orientation: portrait) {
  a.button>svg {
    display: none;
  }
}
