:root {
  /* Colors */
  --bg_color: #2C2F33;
  --purple: #6A1B84;
  --purple_light: #79328E;
  --purple_dark: #3C134D;
  --grey_white: #EBEBEB;
  --grey_light: #A7A7A7;
  --grey_medium: #EAEAEA;
  --grey_dark: rgba(31, 31, 31, 0.8);
  --grey_container: #7B7B7B;
  /* Fonts */
  --font_size: 20px;
  --font_family: Kumbh Sans, Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font_weight_thin: 300;
  --font_weight_medium: 400;
  --font_weight_bold: 700;
}

html, body {
  margin: none;
  padding: none;
  color: white;
  background-color: var(--bg_color);
  font-size: 20px;
  font-family: var(--font_family);
  overflow-x: hidden;
}

p {
  margin: 0;
}

.short { display: none; }

@media only screen and (max-width: 800px) and (orientation: portrait) {
  .short { display: inline-block; }
  .full { display: none; }
}

#top {
  background-color: var(--purple_light);
  background: linear-gradient(0deg, rgba(167, 167, 167, 0.2), rgba(167, 167, 167, 0.2)), url(../assets/brick_tile.png);
  image-rendering: crisp-edges;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 9rem;
  padding-bottom: 3rem;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 1rem 1rem;
}

#footer {
  width: calc(100% - 2rem);
  margin-left: 1rem;
}
