:root {
  /* Colors */
  --bg_color: #2C2F33;
  --purple: #6A1B84;
  --purple_light: #79328E;
  --purple_dark: #3C134D;
  --grey_white: #EBEBEB;
  --grey_light: #A7A7A7;
  --grey_medium: #EAEAEA;
  --grey_dark: rgba(31, 31, 31, 0.8);
  --grey_container: #7B7B7B;
  /* Fonts */
  --font_size: 20px;
  --font_family: Kumbh Sans, Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font_weight_thin: 300;
  --font_weight_medium: 400;
  --font_weight_bold: 700;
}

html, body {
  margin: none;
  padding: none;
  color: white;
  background-color: var(--bg_color);
  font-size: 20px;
  font-family: var(--font_family);
  overflow-x: hidden;
}

p {
  margin: 0;
}

.short {
  display: none;
}

@media only screen and (max-width: 800px) {
  .short {
    display: inline-block;
  }

  .full {
    display: none;
  }
}

@media only screen and (max-width: 570px) and (orientation: portrait) {
  .almost_full {
    display: none;
  }
}

#top {
  background-color: var(--purple_light);
  background: linear-gradient(0deg, rgba(167, 167, 167, 0.2), rgba(167, 167, 167, 0.2)), url(../assets/brick_tile.png);
  image-rendering: crisp-edges;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 9rem;
  padding-bottom: 3rem;
}

main {
  display: grid;
  grid-template-columns: calc(70% - 0.5rem) calc(30% - 0.5rem);
  gap: 2rem;
  padding: 2rem 2rem 0 2rem;
}

@media (max-width: 770px) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 1rem;
    padding: 1rem 1rem 0 1rem;
  }
  main > * {
    grid-column: 1/-1 !important;
    grid-row: auto !important;
  }

  #steps_header {
    order: 3 !important;
  }

  #steps {
    order: 4 !important;
  }

  #slideshow {
    order: 5 !important;
  }

  #map_link {
  order: 6 !important;
  }
}
